@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --first-color: #B5835A;
  --second-color: #7873f5;
  --third-color: #4ade80;
  --duration: 15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  23% {
    background-position: 70% 30%;
  }

  47% {
    background-position: 20% 80%;
  }

  68% {
    background-position: 90% 40%;
  }

  82% {
    background-position: 10% 20%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-bg {
  background: linear-gradient(270deg,
      var(--first-color, #ff6ec4),
      var(--second-color, #7873f5),
      var(--third-color, #4ade80));
  background-size: 600% 600%;
  animation-name: gradientShift;
  animation-duration: calc(var(--duration) * 1s);
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  height: 100vh;
  width: 100vw;
}

.react-colorful {
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box;
}

.react-colorful__saturation,
.react-colorful__hue {
  box-sizing: border-box;
}

/* Base slider */
#range-slider {
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
}

/* Filled range */
#range-slider .range-slider__range {
  background-color: #3b82f6;
  height: 100%;
  width: 25vh;
  border-radius: 0px;
}

#range-slider .range-slider__range[data-active] {
  background-color: #2563eb;
}

/* All thumbs */
#range-slider .range-slider__thumb {
  width: 10px;
  height: 10px;
  background-color: #3b82f6;
  border-radius: 9999px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Shift the lower thumb 6px to the left */
#range-slider .range-slider__thumb[data-lower] {
  transform: translate(-6px, -50%);
  background-color: #3b82f6;
}

/* Upper thumb stays centered */
#range-slider .range-slider__thumb[data-upper] {
  background-color: #93c5fd;
}

/* Dragging */
#range-slider .range-slider__thumb[data-active] {
  background-color: #1d4ed8;
}

/* Base vertical slider */
#range-slider2 {
  width: 4px;
  height: 100%;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
}

/* Filled range */
#range-slider2 .range-slider__range {
  background-color: #3b82f6;
  width: 100%;
  height: 25vh;
  border-radius: 0px;
}

#range-slider2 .range-slider__range[data-active] {
  background-color: #2563eb;
}

/* All thumbs */
#range-slider2 .range-slider__thumb {
  width: 10px;
  height: 10px;
  background-color: #3b82f6;
  border-radius: 9999px;
  position: absolute;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Lower thumb shifted up */
#range-slider2 .range-slider__thumb[data-lower] {
  transform: translate(-50%, -6px);
  background-color: #3b82f6;
}

/* Upper thumb centered */
#range-slider2 .range-slider__thumb[data-upper] {
  background-color: #93c5fd;
}

/* Dragging */
#range-slider2 .range-slider__thumb[data-active] {
  background-color: #1d4ed8;
}
